/.build/
/binary/
/cache/
/chroot/
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/live-image-*.contents
/live-image-*.files
/live-image-*.hybrid.iso
/live-image-*.hybrid.iso.zsync
/*.iso
/*.iso.sha256
/*.buildlog
/*-source.zip
*.swp
.DS_Store
